name: CI/CD

on:
  push:
    branches: [ main ]
    pull_request:
      branches: [ main ]
jobs:
  build_and_package:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - uses: actions/setup-java@v3
       with:
         java-version: '19'
         distribution: 'temurin'
     - uses: dbelyaev/action-checkstyle@v0.5.1
       with:
         github_token: ${{ secrets.github_token }}
         reporter: github-pr-review
         level: warning
     - run: mvn -B package --file pom.xml
     - uses:
         with:
           path: target/*.jar